body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    }

  /* Header*/
.header {
    padding: 30px;
    text-align: center;
    background: white;}
   
    .header img{
        width: 20%;
        display:block;
  margin:auto;
    }
  
  /* menu */
  .topnav {
    overflow: hidden;
    background-color:hsl(258, 91%, 17%);
    list-style-type: none;
    margin: 0;
    padding: 1%;
  }
  .topnav ul   {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
   
  
  /* menu links */
  .topnav a {
    list-style-type: none;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    list-style-type: none;
    text-align: center;
  }

    /* Pie de página */
    .footer {
        padding: 20px;
        text-align: center;
        color: aliceblue;
        background-color:hsl(258, 91%, 17%);
        margin-top: 20px;
      }

      .footer li {
        list-style-type: none;
        text-align: center;
      }
    .centrado{
        margin: 0 auto;
        padding:0 0.8em;
    }

    @media screen and (min-width: 52em){

        .centrado{
            margin: 0 auto;
            padding:0 1em;
        }
    }
    .animate__animated.animate__bounce {
      margin: 0 0 1em;
      padding: 1em 0;
      font-weight: 300;
      color: hsl(258, 91%, 17%);
      font-family: 'Poppins', sans-serif;
      text-align: center;
    }

        
        .tarjeta a:hover{
            box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
        }
    .tarjeta-contenido{
        padding: 1.4em;
    }

    .tarjeta-contenido h2{

    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
    color: hsl(258, 91%, 17%);
    font-family: 'Poppins', sans-serif;
   
    }

    .tarjeta-contenido h2 p{
        font-size: 95%;
    }

    figure{
        margin: 0;
    }

    img{
        width: 100%;
        height: auto;
        display: block;
        border: 0;

    }

   

    .tarjeta{
        background: rgb(180, 180, 180);
        margin-bottom: 2em;
        width: 33%;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between ;
        font-family: 'Poppins', sans-serif;

    }